/* MODBOX FRAMEWORK when possible import _modbox.scss */
.mw,.mb         { box-sizing: border-box; display: inline-block; position: relative; }
.mw,.mwc        { clear: both; margin: 0 -1.65%; }
.mw             { width: 103.3%; }
.mb             { float: left; margin: 1.65%; }
.mb75           { width: 71.7%; }
.mb66           { width: 63.0%; }
.mb60           { width: 56.7%; }
.mb50           { width: 46.7%; }
.mb40           { width: 36.7%; }
.mb33           { width: 30.0%; }
.mb25           { width: 21.7%; }
.mb20           { width: 16.7%; }
.mb10           { width: 6.7%   }