 html, body, ul, ol, li, img, p, a
                { position: relative; z-index: 1; margin: 0px; padding: 0; border: 0; outline: 0; list-style-image: none; list-style-type: none; line-height: 1; font-weight: lighter; -webkit-tap-highlight-color: transparent; tap-highlight-color: transparent; text-decoration:none; }

html, body {
    background-color: $background;
    color: $type;
    height: 100%;
    min-width: 320px;
}
%animate        { -webkit-transition: all $animate-time ease-in-out; -moz-transition: all $animate-time ease-in-out; -o-transition: all $animate-time ease-in-out; }
a, input, button, textarea, select, .animate, a.menu-item .image
                { -webkit-transition: all $animate-time ease-in-out; -moz-transition: all $animate-time ease-in-out; -o-transition: all $animate-time ease-in-out; -webkit-appearance: none; border-radius: 0; }
::selection     { background: $callout; color: #FFF; }
::-moz-selection{ background: $callout; color: #FFF; }