.product {
  @extend .bb;
  @extend .center;
  background-color: #000;
  max-width: 520px;
  margin: 0 0 20px;
  min-width: 380px;
  padding: 12px;
  width: 50%;

  .product-image {
    background-position: center center;
    background-size: cover;
    height: 220px;
    margin: -140px 0 0;
    position: relative;
    top: 140px;
  }
  
  .product-title {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  
    color: #fff;
    font-family: "Dosis-SB";
    font-size: 30px;
    padding: 100px 0 12px;
    position: relative;
  }
  
  .product-description {
    margin: 0 0 12px;
  }
  
  a.change-toppings {
    font-family: "Dosis-B";
    margin: 0 0 6px;
    text-transform: uppercase;
  }
  
  .custom-drop.half {
    float: left;
    position: relative;
    width: 50%;
  }
  
  .custom-drop .down-arrow {
    @extend %pointer-events;
    background-color: #fff;
    color: #000;
    display: inline-block;
    font-family: monospace;
    font-size: 40px;
    height: 100%;
    line-height: 2.15;
    padding: 0 6px;
    position: absolute;
    right: 0;
    z-index: 8;
  }
  
  .options select {
    -moz-appearance: none;
    background-color: transparent;
    border: 5px solid;
    color: #ffffff;
    font-family: "Dosis-B";
    font-size: 18px;
    padding: 12px 42px 12px 12px;
    text-transform: uppercase;
    
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  a.add-to-order {
    background-color: #e5472d;
    background-image: url("/assets/images/cart-icon.png");
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius: 200px;
    color: #fff;
    display: inline-block;
    padding: 0 0 0 52px;
  }
  
  .add-to-order:hover {
    padding: 0 0 0 157px;
  }
  
  .add-to-order-text {
    font-size: 18px;
    left: 63px;
    position: absolute;
    top: 16px;
  }
  
  a.add-to-order .price {
    background-color: #2d2d2d;
    border-radius: 200px;
    color: #fff;
    display: inline-block;
    font-family: "Dosis-B";
    font-size: 26px;
    padding: 12px 22px;
    position: relative;
    right: -1px;
    z-index: 1;
  }
} // END PRODUCT 

// Big Computer - No tablet or below
@media screen and (min-width: 1680px){
  .product {
    float: left;
    margin: 0 2.5% 2.5% 0;
    max-width: 420px;
    width: 44%;
  }
}

// Primary Mobile - Tablet & Below
// @media screen and (max-width: $tablet){

  
// }

// Secondary Mobile - Phone & Below
@media screen and (max-width: $phone){
  .product {
    float: none;
    max-width: 100%;
    min-width: auto;
    width: 100%;
    
    .options select {
      font-size: 16px;  
    }  
  }
}